<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Игроки</title>
</head>
<body>
<div th:fragment="content">
    <table border="1" cellspacing="0" cellpadding="2">
        <tr>
            <td><strong>Фамилия, Имя</strong></td>
            <td><strong>Дата рождения</strong></td>
            <td><strong>Позиция на поле</strong></td>
            <td><strong>Рост</strong></td>
            <td><strong>Вес</strong></td>
            <td><strong>Команда</strong></td>
        </tr>
        <tr th:each="player : ${listPlayers}">
            <td th:text="${player.lastName + ' ' + player.firstName}">Фамилия, Имя</td>
            <td th:text="${player.birthDay}">Дата рождения</td>
            <td th:text="${player.position}">Позиция на поле</td>
            <td th:text="${player.growth + ', см'}">Рост, см</td>
            <td th:text="${player.weight + ', кг'}">Вес, кг</td>
            <td th:if="${player.team ne null}" th:text="${player.team}">Команда</td>
            <td th:unless="${player.team ne null}">нет команды</td>
        </tr>
    </table>
</div>
</body>
</html>