<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Мой профиль</title>
</head>
<body>
<div th:insert="~{header::main}"></div>
<h1>Информация о пользователе</h1>
<form th:action="${/update-user}" method="post" accept-charset="UTF-8">
    <div>
        Имя: <input required type="text" name="firstName" th:value ="${#authentication.getPrincipal().getUser().getFirstName()}"> size="15"><br>
    </div>
    <br>
    <div>
        Фамилия: <input required type="text" name="last_name" value="${sessionScope.user.lastName}" size="15">
    </div>
    <br>
    <div>
        Дата рождения: <input required type="date" name="birth_day" value="${sessionScope.user.birthDay}" size="15"><br>
    </div>
    <br>
    <div>
        Телефон: <input required type="tel" name="phone_number" value="${sessionScope.user.phoneNumber}" size="15"><br>
    </div>
    <br>
    <div>
        Email: <input required type="email" name="email" value="${sessionScope.user.email}" size="15"><br>
    </div>
    <br>
    <div>
        Пароль: <input required type="password" name="password" size="15"><br>
    </div>
    <br>
    <table>
        <tr>
            <th>
                <small>
                    <input type="submit" name="save" value="Сохранить">
                </small>
            <th>
    </table>
</form>
<c:if test="${sessionScope.user.role.name eq 'player' or sessionScope.user.role.name eq 'manager'}">
    <%@ include file="my-profile-player.jsp" %>
</c:if>
</body>
</html>
