<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Игроки</title>
</head>
<body>
<div th:insert="~{header::main}"></div>
<h2>Игроки</h2>
<h3>Фильтр: </h3>
<form th:action="@{/players}" th:method="post">
    <table border="1" cellspacing="0" cellpadding="2">
        <tr>
            <td><strong>Позиция: </strong></td>
            <td><strong>Команда: </strong></td>
            <td><strong>Возраст: </strong></td>
            <td><strong>Отобразить: </strong></td>
        </tr>
        <tr>
            <td>
                <select name="position">
                    <option th:each="position: ${positions}"
                            th:text="${position.name}"
                            th:value="${position.name}"> позиция
                    </option>
                </select>
            </td>
            <td>
                <input type="radio" name="team" value="All" checked/> Все
                <input type="radio" name="team" value="noTeam"> Без команды
            </td>
            <td>
                от <input required type="number" name="ageFrom">
                до <input required type="number" name="ageTo">
            </td>
            <td>
                строк на странице <input required type="number" name="limit" size="5">
                страница № <input required type="number" name="page" size="5">
            </td>
        </tr>
    </table>
    <small>
        <input type="submit" name="ОК" value="ОК">
    </small>
</form>
<p></p>
<div th:if="${listPlayers ne null}">
    <div th:replace="list-players :: content"></div>
</div>
</body>
</html>